---
import BaseLayout from './BaseLayout.astro';
import type { ImageMetadata } from 'astro';

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
	canonical?: string;
	noindex?: boolean;
	article?: boolean;
	pubDate?: Date;
	author?: string;
	section?: string;
	tags?: string[];
}

const { 
	title, 
	description, 
	image,
	canonical,
	noindex = false,
	article = false,
	pubDate,
	author,
	section,
	tags = []
} = Astro.props;
---

<BaseLayout 
	title={title} 
	description={description} 
	image={image}
	canonical={canonical}
	noindex={noindex}
	article={article}
	pubDate={pubDate}
	author={author}
	section={section}
	tags={tags}
>
	<div class="container-content">
		<slot />
	</div>
</BaseLayout>

